<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find mirte_modular_hardware)/urdf/encoder.ros2_control.xacro"/>

  <!-- Based on loop from xacro wiki -->
  <xacro:macro name="single_encoders_loop" params="wheels:=^ base_config:=^ hardware_namespace:=^|${None}">
      <xacro:if value="${wheels}">
      <!-- pop first item from list -->
      <xacro:property name="wheel_name" value="${wheels.pop(0)}" />

      <xacro:property name="wheel_config" value="${base_config.wheels[wheel_name]}"/>

      <!-- Base properties -->
      <xacro:property name="hardware_namespace_" value="${hardware_namespace or base_config.get('hardware_namespace', 'io')}" />
      <!-- NOTE: The default if omitted is 'rw_rate="0"' which means as fast as the controller manager -->
      <xacro:property name="rw_rate" value="${base_config.get('rw_rate', 0)}" />
      <xacro:property name="initial_message_timeout" value="${base_config.get('initial_message_timeout', 500)}" />
      <xacro:property name="updates_only" value="${base_config.get('encoder_updates_only', None)}" />
      <xacro:property name="message_timeout" value="${base_config.get('message_timeout', None)}" />

      <!-- Wheel specific properties -->
      <xacro:property name="ticks_per_rotation" value="${wheel_config.ticks_per_rotation}"/>

      <!-- xacro:eval-comments:on -->
      <!-- wheel_name: ${wheel_name} -->
      <!-- hardware_namespace: ${hardware_namespace_} -->
      <!-- rw_rate: ${rw_rate} Hz (0 => cm rate) -->
      <!-- initial_message_timeout: ${initial_message_timeout} ms -->
      <!-- updates_only: ${updates_only} -->
      <!-- message_timeout: ${message_timeout} ms -->
      <!-- ticks_per_rotation: ${ticks_per_rotation} -->
      <!-- xacro:eval-comments:off -->

      <xacro:encoder_sensor hw_device_name="${wheel_name}" hardware_namespace="${hardware_namespace_}"
        joint_name="${wheel_name}_wheel_joint" initial_message_timeout="${initial_message_timeout}"
        ticks_per_rotation="${ticks_per_rotation}" rw_rate="${rw_rate}" updates_only="${updates_only}"
        message_timeout="${message_timeout}"
      />

      <!-- recursively call myself -->
      <xacro:single_encoders_loop />
    </xacro:if>
  </xacro:macro>

  <xacro:macro name="encoders" params="base_config:=^ hardware_namespace:=^|${None}">
    <xacro:single_encoders_loop wheels="${list(base_config.wheels.keys())}" base_config="${base_config}" />
  </xacro:macro>
</robot>
