<?xml version="1.0" encoding="UTF-8"?>
<!-- <?xml-model href="https://raw.githubusercontent.com/ros/urdfdom/refs/heads/master/xsd/urdf.xsd" schematypens="http://www.w3.org/2001/XMLSchema"?> -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="test_encoder_basic">
  <xacro:include filename="$(find mirte_modular_hardware)/urdf/encoder.ros2_control.xacro"/>

  <link name="base_link">
    <visual>
      <geometry>
        <box size="0.9 0.6 0.2" />
      </geometry>
      <material name="base_link_material">
        <color rgba="0.5 0 0.5 1" />
      </material>
    </visual>
  </link>

  <joint name="test_joint" type="continuous">
    <parent link="base_link" />
    <child link="attachment" />
    <origin xyz="0.45 0 0" />
  </joint>

  <link name="attachment">
    <visual>
      <geometry>
        <box size="0.3 0.2 0.1" />
      </geometry>
      <material name="red">
        <color rgba="1 0 0 1" />
      </material>
    </visual>
  </link>

  <xacro:encoder_sensor hw_device_name="test_joint" joint_name="test_joint" />

</robot>
