<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find mirte_modular_hardware)/urdf/common.xacro" />
  <xacro:include filename="$(find mirte_modular_hardware)/urdf/ros2_control.xacro" />

  <!-- NOTE: The default if omitted is 'rw_rate="0"' which means as fast as the controller manager -->
  <xacro:macro name="multi_motor_actuator"
    params="hardware_namespace:='io' hw_device_name **joints rw_rate:=0">

    <!-- Strip trailing slash -->
    <xacro:strip_trailing_slash source="${hardware_namespace}" dest="hardware_namespace_" />

    <ros2_control name="mirte_modular_hardware_multi_motor_${hw_device_name}" type="actuator" rw_rate="${rw_rate}">
      <hardware>
        <plugin>mirte_modular_hardware/MultiMotorActuator</plugin>
        <param name="topic">${hardware_namespace_}/motor/${hw_device_name}/multi_speed</param>
      </hardware>
      <xacro:insert_block name="joints" />
    </ros2_control>
  </xacro:macro>

  <xacro:macro name="multi_motor_joint"
    params="joint_name motor_name:=${None} max_motor_speed initial_value:=${None}">
    <joint name="${joint_name}">
      <xacro:optional_param name="motor_name" value="${motor_name}" />
      <command_interface name="velocity">
        <param name="max">${max_motor_speed}</param>
        <param name="min">${-max_motor_speed}</param>
        <xacro:optional_param name="initial_value" value="${initial_value}" />
      </command_interface>
    </joint>
  </xacro:macro>
</robot>