<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="mirte_master">
  <xacro:include filename="$(find mirte_master_description)/urdf/mirte_master.xacro" />

  <xacro:arg name="control_config_file" default="$(find mirte_master_control)/config/default_hardware.yaml" />
  <xacro:property name="control_config_file" value="$(arg control_config_file)" />
  <xacro:property name="control_config" value="${xacro.load_yaml(control_config_file)}"/>

  <!-- Override the config specified (per subsystem) specified hardware interface -->
  <xacro:arg name="hardware_namespace" default="${control_config.get('hardware_namespace', '')}"/>
  <xacro:if value="${bool('$(arg hardware_namespace)')}">
    <xacro:property name="hardware_namespace" value="$(arg hardware_namespace)" />
  </xacro:if>

  <!-- The options are the filenames -->
  <xacro:arg name="base_motors" default="multi_motor"/>
  <xacro:include filename="$(find mirte_master_control)/urdf/base/motor/$(arg base_motors).ros2_control.xacro"/>
  <xacro:motors base_config="${control_config.base}" />

  <!-- The options are the filenames -->
  <xacro:arg name="base_encoders" default="single_encoders"/>
  <xacro:include filename="$(find mirte_master_control)/urdf/base/encoder/$(arg base_encoders).ros2_control.xacro"/>
  <xacro:encoders base_config="${control_config.base}" />

  <!-- The options are the filenames -->
  <xacro:arg name="hardware_interface_arm" default="old"/>
  <xacro:if value="$(arg arm_enable)">
    <xacro:include filename="$(find mirte_master_control)/urdf/arm/$(arg hardware_interface_arm).ros2_control.xacro"/>
    <xacro:hardware_interface_arm arm_config="${control_config.arm if python.isinstance(control_config.get('arm'), dict) else xacro.dotify(dict())}" />
  </xacro:if>
</robot>
