<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:property name="config_file" value="$(find mirte_master_base_control)/config/default_hardware.yaml" />
  <xacro:property name="config" value="${xacro.load_yaml(config_file)}"/>

  <!-- For Now multi load motors (could make merged motor (1 hw multi pub) later) -->
  <xacro:include filename="$(find mirte_master_base_control)/urdf/single_motors.ros2_control.xacro" />
  <xacro:single_motors base_config="${config.base}"/>

  <!-- For Now multi load encoders (could make merged encoder (1 hw multi sub) later) -->
  <xacro:include filename="$(find mirte_master_base_control)/urdf/single_encoders.ros2_control.xacro" />
  <xacro:single_encoders base_config="${config.base}"/>
</robot>
